<nav>
    <ul>
        <li><a href= "/"> Home </a></li>
        <li><a href= "/booknow"> Book now!</a></li>
        <li><a href= "/results"> Results</a></li>
        <li><a href= "/reviews"> Reviews</a></li> 
        <li><a href= "/whyus"> Why us? </a></li>
        <li><a href= "/contactus">Contact</a></li> 
    </ul>
</nav>
