<!DOCTYPE html>
<html lang="en">

<head>
<title>Maths and Music Tuition</title>
<meta charset="utf-8">

<link rel = "stylesheet" href = "table.css">

<main>
	<table border=1>
		<caption> Congratulations to the following students! </caption>
	<tr>
		<th> Students </th>
		<th> Subject </th>
		<th> Exam Body </th>
		<th> Level </th>
		<th> Results </th>
	</tr>
	
	<tr class="altrow">
		<td> H.J </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 8 </td>
		<td> PASS </td>
	</tr>

	<tr>
		<td> R.S </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 4 </td>
		<td> DISTINCTION </td>
	</tr>

	<tr class="altrow">
		<td> S.L </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 6 </td>
		<td> MERIT </td>
	</tr>

	<tr>
		<td> A.B </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 5 </td>
		<td> MERIT </td>
	</tr>

	<tr class="altrow">
		<td> H.J </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 6 </td>
		<td> DISTINCTION </td>
	</tr>

	<tr>
		<td> R.G </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 3 </td>
		<td> MERIT </td>
	</tr>

	<tr class="altrow">
		<td> S.L </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 8 </td>
		<td> PASS </td>
	</tr>

	<tr>
		<td> A.B </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 4 </td>
		<td> MERIT </td>
	</tr>

	<tr class="altrow">
		<td> D.N </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 2 </td>
		<td> PASS </td>
	</tr>

	<tr>
		<td> R.G </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 4 </td>
		<td> MERIT </td>
	</tr>

	<tr class="altrow">
		<td> R.S </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 1 </td>
		<td> DISTINCTION </td>
	</tr>
	
	<tr>
		<td> A.M </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 1 </td>
		<td> PASS </td>
	</tr>

	<tr class="altrow">
		<td> A.B </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 2 </td>
		<td> DISTINCTION </td>
	</tr>

	<tr>
		<td> R.S </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 2 </td>
		<td> DISTINCTION </td>
	</tr>

	<tr class="altrow">
		<td> A.B </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 3 </td>
		<td> DISTINCTION </td>
	</tr>

	<tr>
		<td> A.M </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 2 </td>
		<td> PASS </td>
	</tr>

	<tr class="altrow">
		<td> A.M </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 1 </td>
		<td> PASS </td>
	</tr>

	<tr>
		<td> D.N </td>
		<td> Classical Guitar </td>
		<td> ABRSM </td>
		<td> Grade 3 </td>
		<td> MERIT </td>
	</tr>

</table>

