<!DOCTYPE html>
<html lang="en">

<head>
<title>Maths and Music Tuition</title>
<meta charset="utf-8">
<link rel = "stylesheet" href = "contactus.css">

</head>

<body>
	<div id="layout">
<div id="heading">
	<%- include('./partials/head') %>
</div>

<%- include('./partials/nav') %>

	
<main id="content">
    
	<div id=contactus border="thick solid #000000">
		<br>
    	<h2>Contact us!</h2>
		<br>
		Maths and Music Tuition <br><br><br><br>
		Email: contact@mmtuition.com <br><br><br>
		Tel: 07737072350 or 07946771186 <br>
	</div>
	
	<div id=contactyou>
    	<br>
    	<h2>Busy? Let us contact you!</h2>
    	<br>
		<label for="myName">First Name:</label>
  		<input type="text" name="myName" id="myName" class="required" placeholder="First Name">

    	<br><br><br>   

		<label for="myName">Last Name:</label>
  		<input type="text" name="myName" id="myName" class="required" placeholder="Last Name">

    	<br><br><br>
		<label for="telNumber">Tel Number:</label>
  		<input type="tel" name="telNumber" id="TelNumber" class="required" placeholder="XXX-XXXX-XXXX">
	</div>

</main>


<footer> 
<br><br>
Copyright &copy Maths and Music Tuition 2021

</footer>
</body>
</html>