<!DOCTYPE html>
<html lang="en">

<head>
<title>Maths and Music Tuition</title>
<meta charset="utf-8">
<link rel = "stylesheet" href = "/style.css">
</head>

<body>

	<div id = "layout">

		<div id="heading">
			<%- include('./partials/head') %>
		</div>
    </div>
    <h1>Thank you, we have received your form! </h1>
</body>
