<!DOCTYPE html>
<html lang="en">

<head>
<title>Maths and Music Tuition</title>
<meta charset="utf-8">
<link rel = "stylesheet" href = "/style.css">
</head>

<body>

	<div id = "layout">

		<div id="heading">
			<%- include('./partials/head') %>
		</div>

	<%- include('./partials/nav') %>
	<div class = "subject">

	<div id="Maths">	
		<a href="maths.html" alt="maths"><img src="/mathscover.jpg" alt="Maths"></a>
	</div>

	<div id="Music"> 
		<a href="music.html" alt="music"><img src="/musiccover.jpg" alt="Music"></a>
	</div>

</div>
	
<footer> 
	<%- include('./partials/footer') %>

</footer>

<html/>