<!DOCTYPE html>
<html lang="en">

<head>
	<title>Maths and Music Tuition</title>
	<meta charset="utf-8">
	<link rel = "stylesheet" href = "/whyus.css">
</head>

<body>
	<div id = "layout">
		<div id="heading">
		
			<%- include('./partials/head') %>
		</div>
		
		<%- include('./partials/nav') %>
	
		<main id="content">

			<h2>Why choose us? </h2>

			<p>
				Maths and Music Tuition, also known as M & M tuition is a learning environment that provides both academic and creative learning.<br><br>
				Maths and music, on surfaces appears to be irrelevant from each other, however both subject revolves around one thing: Measure. <br>
				<br> 
				Although &quot Measure &quot may be a common term in mathematics, it may not be as obvious in music. When learning music, students will learn the skill &quot measure of time &quot, this will not only allow students to understand the fundamental concept of music but also transfer this skill into mathematics and vice versa. 

				<br><br>
				Here at M & M tuition, we provide the best learning experience for students by not only igniting both side of their brain, but also providing fully qualified teachers (QTS) to ensure each lessons are tailored to your child and they are reaching their fullest potential. 
				<br>
				<br>
				We truly believe learning does not take place in an authority position but as an equal one to one, where students are comfortable to voice their concerns and understanding. Our methods of teaching and approach has been backed up with <b>100% pass rate.</b> 
			</p>
		</main>
	</div>
</body>

<footer> 
<br><br>
Copyright &copy Maths and Music Tuition 2021

</footer>
</html>