* {
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  
  #layout{
  margin: 0 10%;
  
  }
  
  img {
      max-width: 100%;
      max-height: 100%;
      display: block;
  
      
  }
  
  #container{
      width:100%;
      display: flex;
      justify-content: center;
      margin: 0px auto;
      border-bottom: solid white 2px;
      margin-bottom: 20px;
  
      }
   
      nav {
          max-width: 15%;
      }
  
          ul {	
              float:left;
                list-style-type: none;
              margin: 0;
                padding: 0;
              width: 100%;
                background-color: #000000;
              border-left:2px solid #FFFFFF;
      }
      
          li a {
                display: block;
                color: #fff;
                padding: 18px 16px;
                text-decoration: none;
      }
  
          /* Change the link color on hover */
              li a:hover {
                background-color: #555;
                color: white;
      }
  
          #current{background-color:#555;
              color:white;
      }
  
      #comments {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          max-width: 70%;
          border: dashed pink 2px;
          align-items: center;
      }

      #comments p {
          text-align: center;
          line-height: 25px;
          margin: 5px auto;
      }
      
      form {
          border: pink 4px solid;
          display: inline-flex;
          width: 70%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      form p {
          border: solid 2px lightblue;

      }

      form textarea {
          background-color: darkolivegreen;
          border: orange solid 2px;

      }

  
          footer {
              clear: both;
              text-align:center;
              color: white;
  
      }
  